@use '../util' as u;

.blur-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(70px);
  z-index: 3;
}

.create-challenge-overlay {
  display: flex;
  flex-direction: column;

  background: rgba(95, 156, 177, 0.3);

  position: fixed;
  overflow-y: scroll;
  inset: 0;

  z-index: 4;
  padding: 15px;

  .pick-challenge-type, .pick-challenge-subtype {
    @include u.flexCenter--column;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
  }

  .pick-challenge-type {
    padding-top: 70px;

    .challenge-types {
      @include u.flexCenter--column;
      gap: 15px;

      input {
        display: none;
      }

      label {
        @include u.flexCenter--column;

        h2 {
          order: 2;
        }

        img {
          width: 175px;
          height: 175px;
          border: 5px solid navy;
          transition: .5s;
        }
      }
    }
  }

  .pick-challenge-subtype {
    display: none;
    padding-top: 70px;

    .challenge-subtypes {
      @include u.flexCenter--column;
      gap: 15px;

      input {
        display: none;
      }

      label {
        @include u.flexCenter--column;

        h2 {
          order: 2;
        }

        img {
          width: 175px;
          height: 175px;
          border: 5px solid navy;
          transition: .5s;
        }
      }
    }

    .challenge-subtypes--legends, .challenge-subtypes--weapons {
      display: none;
    }


  }

  .pick-challenge-submit {
    display: none;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.5rem;
    background: rgb(68, 23, 58);;
    border: 3px solid black;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: blue;
    }
  }

}

.challenge-preview {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(64, 116, 164, 0.3);
  backdrop-filter: blur(50px);
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 5;
  min-width: 50%;
  font-size: 1.5rem;
}

.pick-challenge-legends, .pick-challenge-weapons {
  @include u.flexCenter;
  flex-wrap: wrap;
  display: none;
  padding-top: 70px;

  @include u.forDesktop {
    max-width: 1700px;
    margin: 0 auto;
  }

  input {
    display: none;
  }
  
  label {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  img {
    border: 5px solid navy;
    height: 200px;

    @include u.forDesktop {
      height: 300px;
    }
  }
}

.pick-challenge-weapons label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 25%;
}

.pick-challenge-weapons img {
  width: 300px;
}


// Modifier on selected elements.
.--borderGreen.--borderGreen.--borderGreen.--borderGreen {
  border-color: green;
  transform: scale(0.9);
}