@use '../util' as u;

// .challenges-toolbox-wrapper--active.challenges-toolbox-wrapper--active {
//   visibility: visible;
//   opacity: 1;
// }

header {
  @include u.flexCenter;
  background: rgb(48, 6, 6);
  min-height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;

  @include u.forDesktop {
    position: initial;
    padding: 10px;
  }

  .challenges-toolbox {
    position: absolute;
    border: none;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  
    @include u.forDesktop {
      display: none;
    }
  
    // .challenges-delete-completed {
    //   width: 50px;
    //   height: 50px;
    // }
  }

  .challenges-toolbox-wrapper {
    display: flex;
    flex-direction: column;

    background: rgb(48, 6, 6);

    position: absolute;
    bottom: 10vh;
    left: -100%;

    padding: 20px;

    visibility: hidden;
    opacity: 0;
    transition: .7s;

    .toolbox-item {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      button {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: 20px;
      }
    }



  }

  .challenges-toolbox-wrapper--active.challenges-toolbox-wrapper--active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  .header-button {
    display: block;
    position: absolute;

    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    z-index: 4;

    @include u.forDesktop {
      display: none;
    }

    .header-button-container {
      @include u.flexCenter--column;
      gap: 5px;
      position: relative;
      height: 100%;
      width: 100%;


      .header-button-bar {
        width: 33px;
        height: 4px;
        border-radius: 3px;
        background: red;
      }

      .top-bar,
      .bottom-bar {
        transition: all ease-in-out .3s;
      }

      .middle-bar {
        transition: all ease-in-out .3s;
      }

      .top-bar.bar-animation {
        position: absolute;
        top: 50%;
        transform: rotate(135deg);
      }

      .middle-bar.bar-animation {
        position: absolute;
        transform: scale(0);
        transform-origin: bottom right;
        opacity: 0;
      }

      .bottom-bar.bar-animation {
        position: absolute;
        top: 50%;
        transform: rotate(-135deg);
      }
    }


  }

  .nav {
    position: absolute;
    bottom: -1500%;
    height: 100vh;
    width: 100%;
    background: rgb(36, 68, 40);
    transition: .5s;

    @include u.forDesktop {
      position: initial;
      width: auto;
      height: auto;
    }


    .nav-ul {
      @include u.flexCenter--column;
      height: 100%;
      list-style: none;
      gap: 5px;

      @include u.forDesktop {
        flex-direction: row;
        gap: 5px;
      }

      .nav-li {
        color: white;
        font-size: 1.2rem;
        font-family: "Apex", sans-serif;
        letter-spacing: 2.5px;

        .nav-link {
          @include u.flexCenter;
          margin: 0 auto;
          // background: linear-gradient(0deg, var(--button-main-color) 70%, var(--button-secondary-color) 100%);
          background: linear-gradient(0deg,
              var(--button-main-color) 10%,
              var(--button-main-color--lowOpacity) 70%,
              var(--button-secondary-color) 100%);

          border-bottom: 5px solid;
          border-image-slice: 1;
          border-image-source:
            linear-gradient(to right,
              var(--button-border-first-third-color),
              var(--button-border-second-color),
              var(--button-border-first-third-color));

          min-height: 50px;
          min-width: 300px;

          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.nav--opened.nav--opened {
  bottom: 0;
}