@use '../util' as u;

.challenges-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 30px 20px;

  // DEBUG COLOR
  // background: rgba(42, 123, 48, 0.316); 

  @include u.forDesktop {
    min-height: calc(100vh - 85px);
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .no-challenges-text {
    font-size: 2.5rem;
  }

  .create-challenge-link {
    font-size: 2rem;
    text-decoration: none;
    color: #7a2fc1;
    transition: .5s;
    position: relative;

    &::before {
      display: block;
      content: '';
      background: red;
      height: 2px;
      width: 100%;

      position: absolute;
      bottom: 0;
      left: 0;

      transform: scaleX(0);
      transition: transform .25s ease-out;
      transform-origin: bottom right;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .challenges-created {
    position: relative;
    border: 1px solid var(--challengeCardBorder);
    background-color: var(--challengeCardBG);
    font-size: 1.5rem;
    width: 100%;
    padding: 1.25rem;
    // background: rgba(60, 60, 103); // DEBUG
  }

  .challenges--legends, .challenges--weapons {
    @include u.flexCenter--column;
    gap: 0.625rem; // 10px
    width: 100%;
    max-width: 700px;
  }
}

.challenges-created--completed {
  @include u.flexCenter;
  position: absolute;
  background: rgba(8, 8, 8, 0.7);
  inset: 0;
}

.challenges-created-complete-btn, .challenges-created-delete {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  z-index: 1;
}

.challenges-created-complete-btn {
  left: 0;
  bottom: 0;
  background: green;
}

.challenges-created-delete {
  right: 0;
  bottom: 0;
  background: rgb(148, 27, 27);
}