@use '../util' as u;



.loading-overlay {
  display: none;

  background: #121212;
  position: fixed;
  inset: 0;
  z-index: 10;

  &-container {
    @include u.flexCenter;
    position: relative;
    height: 100%;

    .loading-icon {
      width: 175px;
      height: 175px;
    }

    .loading-text {
      position: absolute;
      top: 65%;
      font-size: 1.6rem;
      color: #f2f3f4;
      font-family: 'TTLakes', sans-serif;
    }
  }
}

.loading--active {
  display: block;
}



.rotation-container {
  // background-color: var(--mainColor);
  min-height: 100%;
  position: relative;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  @include u.flexCenter--column;
  gap: 15px;
  padding-block: 50px;

  .rotation-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .rotation-banner {
    width: 300px;
    height: 300px;
    border: 2px solid white;
  }

  .rotation-map-name {
    font-size: 2rem;
    text-align: center;
  }

  .rotation-mode-name {
    font-size: 1.6rem;
  }

  .rotation-map-timer {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }

  .rotation-next-wrapper {
    @include u.flexCenter--column;
    border: 2px solid white;
    padding: 15px;
    width: 250px;
    height: 200px;
    position: relative;

    &--opacity {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .rotation-next-title {
      font-size: 22px;
      z-index: 2;
    }

    .rotation-next-map {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1px;
      z-index: 2;
    }

    .rotation-next-mode {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1px;
      z-index: 2;
    }
  }
}





.confirmation-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.6);
  inset: 0;
  z-index: 4;

  .confirmation-window {
    background-color: var(--mainColor);
    max-width: 350px;
    text-align: center;
    padding: 1.25rem;

    h2 {
      margin-bottom: 15px;
    }

    .confirmation-buttons-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.25rem;


      .confirmation-btn {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 0.625rem 1.875rem;
        color: #f2f3f4;
        font-size: 1.125rem;
        cursor: pointer;
      }
    }
  }
}



.blur-overlay {
  position: absolute;
  backdrop-filter: blur(70px);
  z-index: 5;
  transition: .3s;
  top: -100%;
  height: 100%;
  width: 100%;
}

.blur-overlay--active {
  inset: 0;
}



.optimize-challenge-overlay {
  position: fixed;
  overflow-y: scroll;
  top: -100%;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: .5s ease-in-out;

  .optimize-challenge-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }

  .optimize-challenge-overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    // min-height: 100%;

    .optimize-challenge-accordion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "TTLakes", sans-serif;
      font-size: 1.5rem;
      background: none;
      border: none;
      border-bottom: 1px solid rgb(255, 255, 255, 0.4);
      width: 100%;
      padding: 10px;
      color: white;
      transition: background .2s linear;
      position: relative;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &:after {
        content: "\e5cf";
        font-family: 'Material Symbols Outlined';
        font-size: 1.875rem;
        height: 100%;
        transition: transform .5s linear;
      }

      .optimize-challenge-occ {
        @include u.flexCenter--column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.875rem;
        margin-right: 20px;
        font-size: 20px;
        width: 30px;
      }

      &--active:after {
        transform: rotate(180deg);
      }
    }

    .optimize-challenge-option {
      @include u.flexCenter--column;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
      max-width: 900px;
      width: 100%;

      .optimize-challenge-banner {
        margin-block: 30px;
        max-width: 250px;
        height: 250px;
      }

      .optimize-challenge-title {
        font-size: 2rem;
        color: white;
      }

      .optimize-challenge-display-challenges {

        p {
          font-size: 1.6rem;
        }

        .optimize-challenge-card {
          position: relative;
          border: 1px solid var(--challengeCardBorder);
          border-radius: 5px;
          background-color: var(--challengeCardBG);
          font-size: 1.5rem;
          padding: 1.25rem;
          margin-bottom: 0.940rem;

          @include u.forDesktop {
            padding: 25px;
          }
        }
      }
    }
  }
}

.optimize-challenge-overlay--active {
  inset: 0;
}



.warning-window {
  position: fixed;
  top: -100%;
  z-index: 7;

  background: rgb(70, 12, 12);

  width: 100%;
  padding: 15px;

  font-size: 1.3rem;

  transition: all .5s ease-in-out;
}

.warning-window--active {
  top: 0;
}