@use '../util' as u;

.confirmation-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(0, 0, 0, 0.6);
  inset: 0;
  z-index: 4;

  .confirmation-window {
    padding: 20px;
    background: rgb(46, 20, 46);
    text-align: center;
    max-width: 350px;

    h2 {
      margin-bottom: 15px;
    }

    .confirmation-btn {
      padding: 10px 30px;
      color: white;
      background: none;
      border: 1px solid white;
      cursor: pointer;
    }
  }
}



.blur-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(70px);
  z-index: 5;
}



.optimize-challenge-overlay {
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
  visibility: hidden;

  .optimize-challenge-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }

  .optimize-challenge-overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 100%;
    // background: rgb(35, 63, 35);

  }

  .optimize-challenge-banner {
    max-width: 250px;
    height: 250px;
  }

  .optimize-challenge-title {
    font-size: 2rem;
    color: white;
  }

  .optimize-challenge-display-challenges {
    
    p {
      font-size: 1.6rem;
    }

    .optimize-challenge-card {
      background: #3c3c67;
      font-size: 1.5rem;
      padding: 20px;
      margin-bottom: 15px;
    }
  }


}
.optimize-challenge-overlay--active {
  visibility: visible;
}



.warning-window {
  position: absolute;
  top: -100%;
  z-index: 5;

  background: rgb(70, 12, 12);

  width: 100%;
  padding: 15px;

  font-size: 1.3rem;

  transition: all .5s ease-in-out;
}
.warning-window--active {
  top: 0;
}