@use '../util' as u;

.confirmation-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(0, 0, 0, 0.6);
  inset: 0;
  z-index: 4;

  .confirmation-window {
    padding: 20px;
    background: rgb(46, 20, 46);
    text-align: center;
    max-width: 350px;

    h2 {
      margin-bottom: 15px;
    }

    .confirmation-btn {
      padding: 10px 30px;
      color: white;
      background: none;
      border: 1px solid white;
      cursor: pointer;
    }
  }
}



.blur-overlay {
  position: absolute;
  backdrop-filter: blur(70px);
  z-index: 5;
  transition: .3s;
  top: -100%;
  height: 100%;
  width: 100%;
}
.blur-overlay--active {
  inset: 0;
}



.optimize-challenge-overlay {
  position: fixed;
  overflow-y: scroll;
  top: -100%;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: .5s ease-in-out;

  .optimize-challenge-back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }

  .optimize-challenge-overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    // min-height: 100%;

    .optimize-challenge-accordion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "TTLakes", sans-serif;
      font-size: 1.5rem;
      background: none;
      border: none;
      border-bottom: 1px solid rgb(255, 255, 255, 0.4);
      width: 100%;
      padding: 10px;
      color: white;
      transition: background .2s linear;
      position: relative;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &:after {
        content: "\e5cf";
        font-family: 'Material Symbols Outlined';
        font-size: 1.875rem;
        height: 100%;
        transition: transform .5s linear;
      }

      .optimize-challenge-occ {
        @include u.flexCenter--column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.875rem;
        margin-right: 20px;
        font-size: 20px;
        width: 30px;
      }

      &--active:after {
        transform: rotate(180deg);
      }
    }

    .optimize-challenge-option {
      @include u.flexCenter--column;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
      max-width: 900px;
      width: 100%;

      .optimize-challenge-banner {
        margin-block: 30px;
        max-width: 250px;
        height: 250px;
      }

      .optimize-challenge-title {
        font-size: 2rem;
        color: white;
      }

      .optimize-challenge-display-challenges {

        p {
          font-size: 1.6rem;
        }

        .optimize-challenge-card {
          position: relative;
          border: 1px solid var(--challengeCardBorder);
          border-radius: 5px;
          background-color: var(--challengeCardBG);
          font-size: 1.5rem;
          padding: 1.25rem;
          margin-bottom: 0.940rem;

          @include u.forDesktop {
            padding: 25px;
          }
        }
      }
    }
  }
}
.optimize-challenge-overlay--active {
  inset: 0;
}



.warning-window {
  position: fixed;
  top: -100%;
  z-index: 5;

  background: rgb(70, 12, 12);

  width: 100%;
  padding: 15px;

  font-size: 1.3rem;

  transition: all .5s ease-in-out;
}

.warning-window--active {
  top: 0;
}