.back-arrow-button, .up-arrow-button, .rotation-back-button, .mobile-button {
  background-color: #300606;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--challengeCardBorder);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.up-arrow-button img {
  width: 48px;
  height: 48px;
}

.header-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.challenges-toolbox--desktop {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 80px;
  height: 80px;

  img {
    width: 50px;
    height: 50px;
  }
}