.back-arrow-button, .up-arrow-button {
  background-color: #300606;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--challengeCardBorder);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.up-arrow-button img {
  width: 48px;
  height: 48px;
}