.text-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.none.none.none.none {
  display: none;
}

.block.block.block.block {
  display: block;
}

.flex.flex.flex.flex {
  display: flex;
}

.mb10vh {
  margin-bottom: 10vh;
}