.text-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.none.none.none.none {
  display: none;
}

.block.block.block.block {
  display: block;
}

.flex.flex.flex.flex {
  display: flex;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb85 {
  margin-bottom: 85px;
}