@font-face {
  font-family: "Apex";
  src: url(../../assets/fonts/Apex/apex-regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "TTLakes";
  src: url(../../assets/fonts/TTLakes/TTLakesNeueRegular.ttf);
  font-weight: 400;
}